html {
	height: 100%;
}

body {
	height: 100%;
}

div.wrapper {
	width: 100%;
	min-width: 200px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

div.question {
	background-color: #8edc48;
	color: white;
	width: 75%;
	margin: auto;
	font-size: 3em;
	padding: 2%;
	border-radius: 10px;
}

div.answers {
	padding: 0 0 100px;
	width: 60%;
	margin: auto;
}

div.buttons {
	margin: -100px auto 0;
	min-width: 200px;
	width: 60%;
	height: 10%;
	position: relative;
}

div.answer {
	margin-top: 5%;
	width: 37%;
	height: 37%;
	margin-left: 6.5%;
	margin-right: 6.5%;
	float: left;
}

img.answer {
	max-width: 100%;
	max-height: 25%;
	border:1.75em solid white;
	border-radius:15px;
}

img.answer.selected {
	border:1.75em solid #8edc48;
	border-radius:15px;
}

div.button {
	width: 30%;
	background-color: #8edc48;
	color: white;
	border-radius: 10px;
	margin: auto;
	text-align: center;
	font-size:5em;
}

div.navigation {
	display: block;	
	position: fixed;
	top: 50%;
	margin-top: -50px;
	padding: 2% 2%;
	background: #8edc48;
	color: white;
	font-size:5em;
}

div.navigation.left {
	left: 0;
	float: left;
}

div.navigation.right {
	right: 0;
	float: right;
}


body.wrong div.button {
	background-color: red;
}

body.right div.button {
	background-color: orange;
}

#wrongAnswerIcon {
	display: none;
}

#rightAnswerIcon {
	display: none;
}

body.right #rightAnswerIcon {
	display: block;
}

body.right #validateIcon {
	display: none;
}

body.wrong #validateIcon {
	display: none;
}

body.wrong #wrongAnswerIcon {
	display: block;
}

body.right div.question {
	background-color: orange;
}

body.wrong div.question {
	background-color: red;
}

body.right div.navigation {
	background-color: orange;
}

body.wrong div.navigation {
	background-color: red;
}

body.right img.answer.selected {
	border:1.75em solid orange;
}

body.wrong img.answer.selected {
	border:1.75em solid red;
}